.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 55px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 94px 0 0 100px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 290px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 98px;
  height: 81px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 290px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 98px;
  height: 69px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 290px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-3 {
  width: 98px;
  height: 75px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-image-4 {
  width: 247px;
  height: 494px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1900px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 958px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1966px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 719px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1584px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 453px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}